{% extends "base.html" %}
{% load static %}
{#{% load i18n %}#}


{% block content %}
   User: {{ object.username }}

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>{{ object.username }}</h2>
                {%  if object.name %}
                <p>{{ object.name }}</p>
            {% endif %}
                    {%  if object.bio %}
                            <p>{{ object.bio }}</p>
                {% endif %}
            </div>
        </div>
    </div>

    {% if object == request.user %}
    <div class="row">
        {% endif %}
    </div>
{% endblock %}