{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}
{% load thumbnail %}

{%  block style %}
    <link href= "{% static "books/css/style.css" %}" rel=stylesheet">
{% endblock %}

{% block content %}
    <div class="row">
        <h3>Dodaj zdjęcie do galerii {{ gallery.title }}</h3>
        <div>
            {% for photo in gallery.photos.all %}
                {% thumbnail photo.image "80" as im %}
                    <img src="{{ im.url }}" alt=""/>
                {% endthumbnail %}
            {% endfor %}
        </div>
        <div class="col-6 offset-md-3">
            <form method = "POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit"
            class = "btn btn-primary">Wyślij</button>
            </form>
        </div>
{% endblock %}

        {% block additional_scripts %}
            <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
            {{ form.media }}
    </div>
{% endblock %}
