{% extends "base.html" %}
{% load static %}
{% load thumbnail %}

{% block header %}
    <h3><a href = "{% url 'galleries:galleries_list' %}"> Powrót do listy galerii </a></h3>
{% endblock %}

{% block content %}
<h2> Szczegóły gallerii : </h2>
{#    <h4> <a href = "{% url 'gas:edit_post' id %}"> Edytuj post </a> </h4>#}
  <div>
    <h5>
         <ul>
            <li>id: {{ id }}</li>
             <li> tytuł: {{ title }}</li>
             <li> opis: {{ description }}</li>
             <li><div>utworzono: {{ created}}</div></li>
             <li>zmodyfikowano: {{ modified }}</li>
             <li>użytkownik: {{ user }}</li>
             <li>zdjęcie: {{ image }}</li>
        </ul>
    <div class="row">
            {%  for photo in photos %}
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card h-100">
                        {% thumbnail photo.image "300x300" crop="center" as im %}
                            <img class=card-img-top" src="{{  im.url }}" alt="">
                        {% endthumbnail %}
                        <div class="card-body">
                            <h4 class="card-title text-center">{{ photo.title }}</h4>
                        </div>
                    </div>
                </div>
            {% endfor %}

    </div>
       <img src="{{ image.url }}">
        {% for photo in photos %}
            {% thumbnail photo "200x200" as im %}
            <img src="{{ im.url }}" alt="obrazek">
            {% endthumbnail %}
        {% endfor %}
        {% if user == request.user %}
            <a href = "{% url 'galleries:add_photo' id %}"> Edytuj galerię</a>
        {% else %}
            <p>tylko twórca galerii może ją edytować</p>
        {% endif %}
    </h5>
  </div>
{% endblock %}