{% extends "base.html" %}
{% load crispy_forms_tags %}

        {% block content %}

           <h3><a href = "{% url 'books:list' %}"> Powrót do listy książek </a></h3>
            <img src="/static/main/img/otwarta.jpeg" alt="otwarta">
                   <h1> Szczegóły książki : </h1>
     <h3>
     <ul>
         <li>
             tytuł:  {{ title }}
         </li>

         <li>
             opis:  {{ decription }}
         </li>
         <li>
              autor: {{ author }}
         </li>
         <li>
            tagi:
                 {% for tag in tags %}
                   {{ tag}},
                 {% endfor %}
         </li>
     </ul>
         <div>
             {% if image %}
             <img src="{{ image.url }}">
             {% endif %}
         </div>

     </h3>
            {% if book.available %}
                <div class="alert alert-success" role="alert">Dostępna</div>
                {% else %}
                <div class="alert alert-danger" role="alert">Wypożyczona</div>

            {% endif %}
             <div>
            {% if book.available %}
                {% crispy form %}
            {% endif %}
            </div>

         {% endblock %}

