{% extends "base.html" %}
{% load crispy_forms_tags %}
    {% block header %}
{#        <ul>#}
{#            <li> <a href = "{% url 'posts:list' %}"> link do listy postów</a></li>#}
{#            <li>  <a href = "{% url 'books:list' %}"> link do listy książek</a></li>#}
{#            <li> <a href = "{% url 'main:home' %}"> link do strony głównej</a></li>#}
{#            <li>  <a href = "{% url 'posts:add_post' %}"> link do formularza dodawania postów</a></li>#}
{#            <li> <a href = "{% url 'main:contact' %}"> link do formularza do kontaktu</a></li>#}
{#        </ul>#}
        <p><h3>Dodawanie nowgo posta:</h3></p>
    {% endblock %}
    {% block title %}  Nowy post {% endblock %}
    {% block content %}
    {% crispy form %}
     <button type="submit" form="PostForm" value="Submit">Submit</button>
    {% endblock %}
