{% extends "base.html" %}
{% load static %}
{% load thumbnail %}

{% block header %}
    <h3><a href = "{% url 'posts:list' %}"> Powrót do listy postów </a></h3>
{% endblock %}

{% block content %}
    <img src="/static/main/img/mole.jpeg" alt="mole">
{% if  published  %}
    <h1> Szczegóły posta : </h1>

    <h2> <a href = "{% url 'posts:edit_post' id %}"> Edytuj post </a> </h2>

    <h3>
     <ul>
        <li>id: {{ id }}</li>
         <li> tytuł: {{ title }}</li>
         <li>treść: {{ content }}</li>
         <li>
             <div>opublikowano: {{ published }}</div>
         </li>
         <li>sponsorowany: {{ sponsored }}</li>
         <li>użytkownik: {{ user }}</li>
         <li>tagi:
             {% for tag in tags %}
             {{ tag }},
             {% endfor %}
         </li>

         <li>
             {% if categories %}
                kategorie:
                 {% for category in categories %}
                 {{ category }},
                 {% endfor %}
             {% else %}
                 <h3>Tu są czasem wyświetlone kategorie, akurat ten post nie ma żadnej kategorii.</h3>
             {% endif %}
         </li>
         <li>
             {% if exemple_file %}
             <div>Pobierz: <a href ="{{ exemple_file.url }}">przykład</a></div>
             {% else %}
                 tu może być czasem plik do pobrania
             {% endif %}
         </li>

            {% if image %}
{#               <img src="{{ image.url }}">#}
                {% thumbnail image "200x200" as im %}
                <img src="{{ im.url }}">
                 {% endthumbnail %}
                {% else %}
            tu może być czasem obrazek.
                {% endif %}


     </ul>
     </h3>
        {% else %}
            <p><h2>Szeczegóły posta są niedostępne.</h2></p>
        {% endif %}
{% endblock %}

http://127.0.0.1:8000/images/cache/9c/cf/9ccf034b91a6c82d6926dc23db4215e8.jpg